
$base-fonts: 'PingFang SC', 'Hiragino Sans GB','Helvetica Neue', Helvetica, STHeiTi, Arial, sans-serif;
$border-default: 1px solid #e0e0e0 !default;
$border-radius: 6px !default;
$backdrop-default: rgba(#000, 0.3);

$background-color: #ebeef0;
$primary-color: #249af6;
$tip-color: #fff8db;
$secondory-color: #c4e5ff;
$info-color: #16d2d4;

// Cool

$aqua:  #7FDBFF;
$blue:  #249af6;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #04be02;
$olive: #3D9970;
$lime:  #8BDE14;

// Warm

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

// Gray Scale

$white:  #fff;
$silver: #ddd;
$gray:   #ccc;
$black:  #111;